
#page-create-point{
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  height: 100vh;
 

  display: flex;
  flex-direction: column;
  
}

#page-create-point header {
  margin-top: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


#page-create-point header a {
  display: flex;
  font-weight: 700;
  color: var(--title-color);
}

#page-create-point header a span {
  background: url('../assets/arrow-left.svg');
  height: 24px;
  width: 20px;
  display: flex;
  margin-right: 16px;
}

#page-create-point form {
  background-color: #fff;
  padding: 64px;
  border-radius: 8px;
  max-width: 730px;
  margin: 80px auto;
}

form h1 {
  font-size: 36px;
}

form fieldset {
  border: 0;

  margin-top: 64px;
}

form legend {
  margin-bottom: 20px;
}

form h2 {
  font-size: 24px;
}

form .field {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  flex: 1;
}

form .field input,
form .field select {
  border: 0;
  background: #f0f0f5;
  border-radius: 8px;

  padding: 16px 24px;
  font-size: 16px;
}

form .field-group {
  display: flex;
}

form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

form label {
  font-size: 14px;
  margin-bottom: 8px;
}

form .field-group .field + .field {
  margin-left: 24px;
}

form button {
  background: var(--primary-color);
  width: 260px;
  height: 56px;
  border-radius: 8px;
  margin-top: 40px;
  border: 0;

  color: #fff;
  font-weight: bold;
  font-size: 16px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background 0.2s;
}

form button:hover {
  background: #2fb86e;
}